In [11]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame(
    [
        dict(name='Hi', amount=None), 
        dict(name='Hello', amount='10'), 
        dict(name=None, amount=None), 
        dict(name=None, amount='100'), 
        dict(name='Hello', amount=20)
    ]
)

df.head()

  amount   name
0   None     Hi
1     10  Hello
2   None   None
3    100   None
4     20  Hello

In [26]:
df[df['name'].notnull() & df['amount'].notnull()]

  amount   name
1     10  Hello
4     20  Hello