In [1]:
from sqlalchemy import create_engine

ttc_subway_times = create_engine('postgresql://localhost/ttc_subway_times')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_sql_query("SELECT * FROM ntas_data", con=ttc_subway_times)

In [4]:
df.tail()

,requestid,id,station_char,subwayline,system_message_type,timint,traindirection,trainid,train_message
5741032,878649,13372591224,DML1,SHEP,Normal,7.312651,East,464,Arriving
5741033,878649,13372591225,DML1,SHEP,Normal,14.946141,East,461,Arriving
5741034,878649,13372591226,DML2,SHEP,Normal,2.352987,West,463,Arriving
5741035,878649,13372591227,DML2,SHEP,Normal,7.567651,West,464,Arriving
5741036,878649,13372591228,DML2,SHEP,Normal,15.201141,West,461,Arriving

In [5]:
df.memory_usage()

Index                        80
requestid              45928296
id                     45928296
station_char           45928296
subwayline             45928296
system_message_type    45928296
timint                 45928296
traindirection         45928296
trainid                45928296
train_message          45928296
dtype: int64