In [12]:
from sqlalchemy import create_engine

ttc_subway_times = create_engine('postgresql://localhost/ttc_subway_times')

In [13]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_sql_query("SELECT * FROM ntas_data", con=ttc_subway_times)

In [16]:
df.tail()

,requestid,id,station_char,subwayline,system_message_type,timint,traindirection,trainid,train_message
5741032,996,13084509600,OSS1,BD,Normal,6.696066,East,207,Arriving
5741033,996,13084509529,OSS2,BD,Normal,3.491176,West,223,Arriving
5741034,996,13084509530,OSS2,BD,Normal,7.282740,West,229,Arriving
5741035,996,13084509531,OSS2,BD,Normal,11.704460,West,227,Arriving
5741036,997,13084509601,CHR1,BD,Normal,1.230456,East,205,Arriving