# PyData Hands-On Data Science Night - 16 August 2017

<https://www.meetup.com/pydatato/events/242191592/>

## Machine Learning

<https://github.com/sechilds/pydata_sept2016/blob/master/presentation.ipynb>

## TTC Subway Delays

<https://github.com/sechilds/pydata_sept2016/blob/master/use_sample_data.ipynb>

Data collection from the City of Toronto website: <https://www1.toronto.ca/wps/portal/contentonly?vgnextoid=fa6be8c5a612c510VgnVCM10000071d60f89RCRD&vgnextchannel=1a66e03bb8d1e310VgnVCM10000071d60f89RCRD>.

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
df = pd.read_excel('data/Subway & SRT Logs (Jan01_14 to June 30_17).xlsx',
                   parse_dates=[['Date', 'Time']])

In [8]:
df.columns = ['datetime', 'day', 'station', 'code',
              'min_delay', 'min_gap', 'bound', 'line', 'vehicle']

df = df.set_index('datetime')

df.tail()

,day,station,code,min_delay,min_gap,bound,line,vehicle
datetime,,,,,,,,
2017-06-30 22:00:00,Friday,YONGE UNIVERSITY LINE,MUO,0,0,NaN,BD,0
2017-06-30 22:30:00,Friday,LAWRENCE STATION,MUPAA,0,0,N,YU,6031
2017-06-30 22:58:00,Friday,KENNEDY BD STATION,SUDP,5,9,E,BD,5018
2017-06-30 23:30:00,Friday,YONGE UNIVERSITY LINE,MUGD,0,0,NaN,YU,0
2017-06-30 23:57:00,Friday,WOODBINE STATION,MUIS,0,0,NaN,BD,0

In [10]:
print('Min: {}'.format(df.index.min()))
print('Max: {}'.format(df.index.max()))

Min: 2014-01-01 00:21:00
Max: 2017-06-30 23:57:00

In [17]:
idx = pd.date_range(df.index.min(), df.index.max())

In [18]:
codes = pd.read_excel('data/Subway & SRT Log Codes.xlsx')

In [19]:
codes.columns = ['un_0', 'un_1', 'code', 'description',
                 'un_4', 'un_5', 'srt_rmenu_code', 'code_description_1']

codes.tail()

,un_0,un_1,code,description,un_4,un_5,srt_rmenu_code,code_description_1
112,NaN,113,TUS,Crew Unable to Maintain Schedule,NaN,NaN,NaN,NaN
113,NaN,114,TUSC,Operator Overspeeding,NaN,NaN,NaN,NaN
114,NaN,115,TUSET,Train Controls Improperly Shut Down,NaN,NaN,NaN,NaN
115,NaN,116,TUST,Storm Trains,NaN,NaN,NaN,NaN
116,NaN,117,TUSUP,Supervisory Error,NaN,NaN,NaN,NaN

In [20]:
df['code_description'] = df.code.map(codes.set_index('code')['description'])

df.tail()

,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description
datetime,,,,,,,,,
2017-06-30 22:00:00,Friday,YONGE UNIVERSITY LINE,MUO,0,0,NaN,BD,0,Miscellaneous Other
2017-06-30 22:30:00,Friday,LAWRENCE STATION,MUPAA,0,0,N,YU,6031,Passenger Assistance Alarm Activated - No Trou...
2017-06-30 22:58:00,Friday,KENNEDY BD STATION,SUDP,5,9,E,BD,5018,Disorderly Patron
2017-06-30 23:30:00,Friday,YONGE UNIVERSITY LINE,MUGD,0,0,NaN,YU,0,Miscellaneous General Delays
2017-06-30 23:57:00,Friday,WOODBINE STATION,MUIS,0,0,NaN,BD,0,Injured or ill Customer (In Station) - Transpo...

In [25]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df)

In [30]:
from patsy.highlevel import dmatrices

outcome, predictors = dmatrices(
    'index ~ min_gap + min_gap', data=df_train, return_type='dataframe')

PatsyError: Error evaluating factor: NameError: name 'index' is not defined
    index ~ min_gap + min_gap
    ^^^^^

In [ ]:
outcome.tail()

In [ ]:
predictors.tail()

In [ ]:
model = sk.linear_model.LogisticRegression()
model.fit(predictors, outcome)