In [1]:
import pandas as pd

In [4]:
s = pd.Series([-1.10, 2, -3.33, 4])
s.abs()

0    1.10
1    2.00
2    3.33
3    4.00
dtype: float64

In [5]:
s = pd.Series([1.2 + 1j])
s.abs()

0    1.56205
dtype: float64

In [6]:
df = pd.DataFrame(
                {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
df.loc[(df.CCC - 42).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50