In [1]:
import pandas as pd

In [12]:
df_activities = pd.read_csv('./data/RescueTime_Report_Overview__by_day_2017-07-01.csv',
                            parse_dates=['Date'], usecols=['Date', 'Time Spent (seconds)',
                                                           'Overview'])
df_productivity = pd.read_csv('./data/RescueTime_Report_Productivity__by_day_2017-07-01.csv',
                              parse_dates=['Date'], usecols=['Date', 'Time Spent (seconds)',
                                                             'Productivity'])

In [20]:
df_activities.groupby(['Date'])

pandas.core.groupby.DataFrameGroupBy

In [14]:
df_productivity.groupby(['Date'])

        Date  Time Spent (seconds)  Productivity
0 2017-07-01                 15031            -2
1 2017-07-01                  8515             2
2 2017-07-01                  1886             0
3 2017-07-01                   601             1
4 2017-07-01                   105            -1